@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); /* Fuente "Titillium Web", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*  fuente "Kanit", sans-serif; */

/* #041131 Azul oscuro */
/* #0b45a3 Azul claro */
/* #9FACA3 Plateado */

body {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-image: url(/public/img_fut/gimnasio\ futurista.webp);
  background-size: 2000px;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Kanit', sans-serif;
}

h1 {
  background: linear-gradient(#041131, #0b45a3);
  margin-bottom: 50px;
  margin-top: 30px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 55px;
  font-weight: 900px;
  padding-bottom: 5px;
  border-radius: 60%;
}

legend {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#041131, #0b45a3);
  text-align: left;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 20px;
  border-radius: 30px;
  width: 250px;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
}

.cnd {
  color: black;
  margin-top: 30px;
  font-family: 'Kanit', sans-serif;
}
.nov {
  color: white;
  margin-top: 5px;
}
.campo {
  text-align: left;
  color: white;
}
fieldset {
  text-align: center;
  border: none;
}

.mb-10 {
  color: white;

  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
}
.datos-paias {
  width: 600px;
  height: 25px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 12px;
}
.datos-p {
  width: 600px;
  height: 25px;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: #9faca3;
  font-size: 18px;
  background-color: white;
}

.desc {
  width: 600px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: white;
  color: #9faca3;
  font-size: 18px;
}

.datos-c {
  width: 600px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: white;
  color: #9faca3;
  font-size: 18px;
  margin-bottom: 8px;
}
.p-1 {
  font-size: 18px;
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}

.mt-15 {
  text-align: center;
  color: white;
  margin-top: -8px;
}

.cnd {
  color: white;

  text-align: left;
}

.nov {
  color: white;

  text-align: left;
}

.boton1 {
  background: linear-gradient(#041131, #0b45a3);
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
}
.boton2 {
  background: linear-gradient(#041131, #0b45a3);
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
}

.p-2 {
  color: white;
  text-align: center;
  font-size: 50px;
}
option {
  font-size: 12px;
}

.ai {
  color: white;
}

input[name='nombre']:focus {
  background: linear-gradient(#0b45a3, #041131);
}

input[name='apellido']:focus {
  background: linear-gradient(#0b45a3, #041131);
}
input[name='documento']:focus {
  background: linear-gradient(#0b45a3, #041131);
}
input[name='telefono']:focus {
  background: linear-gradient(#0b45a3, #041131);
}
input[name='mail']:focus {
  background: linear-gradient(#0b45a3, #041131);
}
textarea[name='descripcion']:focus {
  background: linear-gradient(#0b45a3, #041131);
}

.datos-paias[name='values-option']:focus {
  background: linear-gradient(#0b45a3, #041131);
}

button:focus {
  background-color: #041131;
}
